.all-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .all-container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .all-container {
    width: 768px;
  }
}

@media (min-width: 1600px) {
  .all-container {
    width: 1600px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

body img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
}

h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  padding: 0;
}

h2 {
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #212121;
}

.header .all-container {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 480px) {
  .header .all-container {
    width: 480px;
    height: 60px;
    margin: 0;
  }
}

header {
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 3;
}

@media (min-width: 480px) {
  header {
    width: 480px;
  }
}

.header-area {
  display: inline-block;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ececec;
}

header .link {
  padding-top: 23px;
  min-height: 80px;
}

.header a:visited {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header li a:hover,
.header a:active,
.header a:focus {
  color: #2196f3;
}

.header li a {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .header__contacts_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts_list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header__menu {
  position: relative;
  z-index: 3;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: black;
}

.logo-accent {
  color: #2196f3;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}

.nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .nav-list {
    display: none;
  }
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

nav .link {
  display: block;
  font-weight: 500;
}

.address-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .address-list {
    display: none;
  }
}

.address-list .link + .link {
  margin-left: 50px;
}

.address-list {
  margin-left: auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin-right: 0px;
}

.address-list a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address-list a:hover,
.address-list a:active,
.address-list a:focus {
  color: #2196f3;
}

.address-list a {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-email {
  margin-right: 48px;
}

.contacts-font {
  color: #757575;
  font-size: 14px;
}

.nav-underline {
  position: relative;
  padding: 0;
}

.nav-underline::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 0;
}

.nav-underline:after {
  opacity: 1;
}

.email-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: auto;
}

.email-image {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.tel-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.tel-image {
  margin-right: 10px;
  fill: currentColor;
}

.footer-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 763px) {
  .footer-container {
    width: 763px;
  }
}

@media (min-width: 1600px) {
  .footer-container {
    width: 1600px;
  }
}

.footer {
  background-color: #2f303a;
}

.footer li a:hover,
.footer li a:focus,
.footer li a:active {
  color: #2196f3;
}

.footer-box-contact address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
  white-space: pre;
  margin-right: 0;
}

.footer-box-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

.footer-title {
  margin: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.footer-box ul {
  padding-left: 0;
  list-style: none;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
}

.footer-icon {
  padding: 0;
  margin: 0;
  padding-left: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-subcribe-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.btn-footer {
  max-width: 450px;
  width: 100%;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
}

.footer-action-img {
  position: relative;
  width: 200px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-left: 123px;
  margin-right: 140px;
}

.footer-action-img::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-right: 28px;
  background-image: url(../Images/icon_send.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-contacts-list {
  padding: 0;
}

.footer-accent {
  color: #2196f3;
}

.contacts-font {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

.social-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-right: 10px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer:hover,
.social-footer:active,
.social-footer:focus {
  background-color: #2196f3;
  fill: white;
}

footer h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 0.875;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.footer-contacts-item {
  margin-bottom: 9px;
}

.foter-box-link {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-box-subscribe {
  margin-top: 60px;
}

.team-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.team-section {
  background-color: #f5f4fa;
  margin: 0;
  width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team-section h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.team-section h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0px 0px 10px 0px;
  color: #212121;
}

.team-card {
  padding: 20px 24px 20px 24px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-section ul p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin: 0;
}

.team-section button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: 0px;
  fill: #afb1b8;
  background-color: #fff;
  margin-top: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-team-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  padding-left: 0;
}

.social-team-item {
  margin-right: 10px;
  display: inline;
}

.team-section .social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #afb1b8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-section .social:not(:last-child) {
  margin-right: 10px;
}

.team-section .social:hover,
.team-section .social:active,
.team-section .social:focus {
  background-color: #2196f3;
  fill: white;
}

.social-logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social svg {
  background-size: 20px;
  background-position: center;
}

.team-list {
  list-style: none;
  padding-left: 0;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
}

.team-list img {
  width: 450px;
}

.team-list .item {
  width: 270px;
}

@media (min-width: 480px) {
  .team-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.advantages-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .advantages-container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-container {
    width: 768px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1600px) {
  .advantages-container {
    width: 1600px;
  }
}

.advantages-heading {
  font-weight: bold;
  margin: 0;
  color: #212121;
  padding-top: 30px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 8px;
}

.advantages-item .icons {
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  margin-bottom: 0;
}

.advantages-item:not(:first-child) {
  margin-left: 0px;
}

.advantages {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.advantages:not(:last-child) {
  margin-bottom: 30px;
}

.advantages-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -5px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-item {
    width: calc((100%-2*15px)/2);
    margin: 5px;
  }
}

.clients-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .clients-container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .clients-container {
    width: 768px;
  }
}

@media screen and (min-width: 1600px) {
  .clients-container {
    width: 1600px;
  }
}

.clients-logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.clients-list {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-column-count: 2;
          column-count: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients-item {
  width: 210px;
  height: 90px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients-item:nth-child(-n+4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients-item:nth-child(odd) {
    margin-right: 30px;
  }
}

.clients-icon {
  width: 210px;
  height: 90px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-width: 1px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-icon:hover,
.clients-icon:active,
.clients-icon:focus {
  background-color: white;
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.hero-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .hero-container {
    width: 100%;
  }
}

@media (min-width: 763px) {
  .hero-container {
    width: 763px;
  }
}

@media (min-width: 1600px) {
  .hero-container {
    width: 1600px;
  }
}

.hero h3 {
  margin: 0;
  margin-bottom: 12px;
}

.hero h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

.hero {
  margin: 0;
  background-color: #2f303a;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.5)), to(rgba(47, 48, 58, 0.5))), url("../Images/bcg-hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.5)), url("../Images/bcg-hero.jpg");
  max-width: 1600px;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.5)), to(rgba(47, 48, 58, 0.5))), url("../Images/hero_bcg_mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.5)), url("../Images/hero_bcg_mobile.jpg");
}

.modal-open-btn {
  width: 200px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  text-align: center;
}

.backdrop-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop-container .is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop-container .is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.hero-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  z-index: 2;
  overflow-y: scroll;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .hero-modal {
    width: 450px;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    top: 60%;
  }
}

@media screen and (min-width: 1600px) {
  .hero-modal {
    width: 528px;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 6px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn-close {
  position: absolute;
}

.btn-close:hover,
.btn-close:focus {
  background-color: #ffffff;
  fill: #2196f3;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form input:not([type="checkbox"]),
.modal-form textarea {
  height: 40px;
  margin-top: 4px;
  display: block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  border-radius: 4px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form label {
  text-align: left;
  color: #757575;
}

.modal-form textarea {
  height: 120px;
  padding: 12px 16px 12px 16px;
  resize: none;
}

.modal-form a {
  font-size: 14px;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.modal-form label {
  margin-bottom: 10px;
}

.form-modal-btn input {
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-modal-btn label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #757575;
}

.input-wrapper {
  display: block;
  position: relative;
}

.input-wrapper svg {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* .input-wrapper:hover svg {
  fill: #2196f3;
} */
.input-wrapper:focus-within svg {
  fill: #2196f3;
}

.input-wrapper:focus-within input {
  border: 1px solid #2196f3;
}

textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-left: 2em;
  letter-spacing: 0.03em;
}

.form-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10px;
}

.form h3 {
  margin: 0;
}

form .modal-open-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.label-chekbox {
  display: inline-block;
  padding-left: 0.5em;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 30px;
}

.icon-checkbox {
  position: absolute;
  width: 1em;
  height: 1em;
  border: 2px solid black;
  border-radius: 4px;
}

.checkbox:focus + .icon-checkbox {
  background-color: #2196f3;
  border: none;
  background-origin: border-box;
}

.checkbox:checked + .icon-checkbox {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url("/Images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.form-modal-btn {
  position: relative;
  min-width: 448px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  z-index: 1;
}

.projects {
  padding-top: 0;
  padding-bottom: 94px;
}

@media (max-width: 768px) {
  .projects {
    display: none;
  }
}

.projects h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-top: 0;
}

.projects p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 27px 82px;
  margin: 0;
}

.project-list {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 0;
  margin: 0;
}

.project-item {
  position: relative;
  z-index: -2;
  margin-right: 30px;
}

.project-titles {
  position: absolute;
  bottom: 0%;
  width: 100%;
  min-height: 70px;
  padding: 27 85 27 85;
  background-color: rgba(47, 48, 58, 0.8);
}

.menu-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

header .link {
  min-height: 80px;
}

.header a:visited {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header li a:hover,
.header a:active,
.header a:focus {
  color: #2196f3;
}

.header li a {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  background-color: palegoldenrod;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.navigation-mobile, .contacts-mobile {
  height: 50px;
  width: 140px;
}

.navigation-mobile {
  border: 1px solid green;
}

.contacts-mobile {
  border: 1px solid orange;
}

.menu-icon {
  position: relative;
  z-index: 3;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: none;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */