.all-container {
  width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  padding-top: 80px;
  font-family: $font-main;
  font-style: normal;
}

body img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h2,
h3,
h4 {
  font-family: $font-main;
  padding: 0;
}

h2 {
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: $font-main-color;
}

.section h2 {
  font-family: $font-main;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $font-main-color;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section p {
  font-family: $font-main;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: $font-third-color;
}

.modal-open-btn {
  width: 200px;
  height: 50px;
  font-family: $font-main;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $font-color-light;
  background: $font-second-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  text-align: center;
}
