.clients-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  margin-top: 60px;
  margin-bottom: 60px;
  

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1600px) {
    width: 1600px;
  }
}

.clients-logo {
  align-items: center;
  
}

.clients h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: $font-main-color;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.clients-list {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
  column-count: 2;
    display: flex; 
    align-items: center;  
    justify-content: center;
    flex-wrap: wrap;
}

.clients-item {
  width: 210px;
  height: 90px;
  

}

@media screen and (min-width: 480px) and (max-width: 767px) {
.clients-item:nth-child(-n+4) {
    margin-bottom: 30px;
}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
.clients-item:nth-child(odd) {
    margin-right: 30px;
}
}


.clients-icon {
  width: 210px;
    height: 90px;
  
  fill: #afb1b8;

  border: 1px solid #afb1b8;
  border-width: 1px;
  border-radius: 4px;
  
display: flex;
  align-items: center;
  justify-content: center;
  
}

.clients-icon:hover,
.clients-icon:active,
.clients-icon:focus {
  background-color: white;
  fill: $font-second-color;
  border: 1px solid $font-second-color;
}

// @media (max-width: 480px) {
//   .clients-container {
//     width: 480px;
//     padding: 0 15px;
//     margin: 0 auto;
//   }
// }

// .clients {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

// .clients h2 {
//   font-style: normal;
//   font-weight: bold;
//   font-size: 36px;
//   line-height: 1.167;
//   letter-spacing: 0.03em;
//   color: $font-main-color;
//   text-align: center;
//   margin-top: 0;
//   margin-bottom: 50px;

//   @media (max-width: 480px) {
//     font-size: 28px;
//   }
// }

// .clients li:not(:last-child) {
//   margin-right: 30px;
// }

// .clients-list {
//   list-style: none;
//   display: flex;
//   margin: 0;
//   padding: 0;

//   @media (max-width: 480px) {
//     list-style: none;
//     display: inline-block;
//     column-count: 2;
//     margin: 0;
//     padding: 0;
//   }
// }

// .clients-item {
//   @media (max-width: 480px) {
//     margin-bottom: 30px;
//   }
// }

// .clients-icon {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   background-position: center;
//   background-size: auto;

//   background-color: white;
//   fill: #afb1b8;
//   width: 170px;
//   height: 90px;
//   background-repeat: no-repeat;

//   border: 1px solid #afb1b8;
//   border-width: 1px;
//   border-radius: 4px;
//   padding: 0;
//   cursor: pointer;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// .clients-icon:hover,
// .clients-icon:active,
// .clients-icon:focus {
//   background-color: white;
//   fill: $font-second-color;
//   border: 1px solid $font-second-color;

//   @media (max-width: 480px) {
//     width: 210px;
//     margin: 0px 30px 30px 0px;
//   }
// }
