.footer-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;

  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media (min-width: 763px) {
    width: 763px;
  }

  @media (min-width: 1600px) {
    width: 1600px;
  }
}

.footer {
  background-color: #2f303a;

  & li a:hover,
  & li a:focus,
  & li a:active {
    color: $font-second-color;
  }
}

.footer-box-contact address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $font-color-light;

 
  text-align: center;
  white-space: pre;
  margin-right: 0;
}

.footer-box-contact {
  display: flex;

  align-items: center;

  justify-content: center;

  flex-direction: column;

  margin-bottom: 60px;
}

.footer-title {
  margin: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;

  text-align: center;
}

.footer-box ul {
  padding-left: 0;
  list-style: none;
}

.footer-logo {
  font-family: $font-second;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: $font-color-light;
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
}

.footer-icon {
  padding: 0;
  margin: 0;
  padding-left: 125px;
  display: flex;

  justify-content: center;

  align-items: center;
}

.footer-subcribe-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  padding: 0;
  margin: 0;
  
}

.btn-footer {
    max-width: 450px;
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(255,255,255,0.3);
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.15));
    border-radius: 4px;
    background-color: #2f303a;
    color: rgba(255,255,255,0.6);
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25px;
}

.footer-action-img {
  position: relative;
  width: 200px;
  height: 50px;
  align-items: center;
  margin-top: 20px;
  margin-left: 123px;
  margin-right: 140px;
}

.footer-action-img::after {
  content: "";

  width: 24px;
  height: 24px;
  margin-left: 10px;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  padding-right: 28px;

  background-image: url(../Images/icon_send.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-contacts-list {
  padding: 0;
}

.footer-accent {
  color: $font-second-color;
}

.contacts-font {
  color: rgba(255,255,255,0.6);
  font-size: 14px;
}

.social-footer {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #fff;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer:hover,
.social-footer:active,
.social-footer:focus {
  background-color: $font-second-color;
  fill: white;
}

footer h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 0.875;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.footer-contacts-item {
    margin-bottom: 9px;

}

.foter-box-link {
  display: inline-block;

  align-items: center;

  justify-content: center;

  flex-direction: column;
  
}



//   .footer-box-contact address {
//     font-style: normal;
//     font-weight: normal;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: $font-color-light;
//     margin-bottom: 9px;

//     @media (max-width: 480px) {
//       width: 480px;
//       padding-left: 124px;
//       padding-right: 124px;
//       text-align: center;
//       white-space: pre;
//       margin-right: 0;
//     }
//   }

//   .footer-box-contact {
//     margin-right: 70px;
//   }

//   .footer-title {
//     margin-top: 0;
//     margin-bottom: 20px;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: white;

//     @media (max-width: 480px) {
//       margin-top: 60px;
//       padding-left: 145px;
//     }
//   }

//   .footer-box {
//     display: flex;
//     align-items: baseline;

//     @media (max-width: 480px) {
//       display: block;
//     }

//     & ul {
//       list-style: none;
//       padding-left: 0;

//       @media (max-width: 480px) {
//         list-style: none;
//       }
//     }
//   }
// }

// .footer-logo {
//   font-family: $font-second;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 26px;
//   line-height: 1.192;
//   letter-spacing: 0.03em;
//   color: $font-color-light;
//   display: inline-block;
//   margin-bottom: 20px;

//   @media (max-width: 480px) {
//     font-size: 24px;
//     margin: 60px 163px 20px 163px;
//     text-decoration: none;
//   }
// }

// .footer-icon {
//   display: inline-flex;
//   flex-wrap: wrap;
//   padding: 0;

//   @media (max-width: 480px) {
//     display: inline-flex;

//     padding: 0;
//     padding-left: 125px;
//   }
// }

// .footer-box-link {
//   margin-right: 99px;

//   @media (max-width: 480px) {
//     margin-right: 0;
//   }
// }

.footer-box-subscribe {
margin-top: 60px;
}

// .footer-subcribe-heading {
//   font-family: "Roboto";
//   font-style: normal;
//   font-weight: bold;
//   font-size: 14px;
//   line-height: 16px;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;

//   color: #ffffff;

//   padding: 0;
//   margin: 0;
// }

// .btn-footer {
//   min-width: 358px;
//   min-height: 50px;
//   background-color: transparent;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   box-sizing: border-box;
//   padding-left: 16px;
//   margin-top: 20px;
//   border-radius: 4px;
//   color: #ffffff;

//   @media (max-width: 480px) {
//     min-width: 450px;
//   }
// }

// .footer-action-img {
//   position: relative;
//   width: 200px;
//   height: 50px;

//   margin-left: 12px;

//   @media (max-width: 480px) {
//     align-items: center;
//     margin-top: 20px;
//     margin-left: 123px;
//     margin-right: 140px;
//   }
// }

// .footer-action-img::after {
//   content: "";

//   width: 24px;
//   height: 24px;
//   margin-left: 10px;
//   top: 50%;
//   right: 15px;
//   transform: translateY(-50%);

//   padding-right: 28px;

//   background-image: url(../Images/icon_send.svg);
//   background-size: contain;
//   background-repeat: no-repeat;
// }

// .footer-contacts-list {
//   display: flex;
//   flex-direction: column;

//   @media (max-width: 480px) {
//     padding: 0;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }
// }

// .footer-accent {
//   color: $font-second-color;
// }

// .contacts-font {
//   color: $font-third-color;
//   font-size: 14px;
// }

// .social-footer {
//   display: inline-flex;
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;
//   background: rgba(255, 255, 255, 0.1);
//   fill: #fff;
//   justify-content: center;
//   align-items: center;
//   cursor: pointer;
//   margin-right: 10px;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// .social-footer:hover,
// .social-footer:active,
// .social-footer:focus {
//   background-color: $font-second-color;
//   fill: white;
// }

// footer h2 {
//   font-weight: bold;
//   font-size: 14px;
//   line-height: 0.875;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;

//   color: #ffffff;
//   margin: 0;
// }

// .footer-contacts-item {
//   margin-bottom: 9px;
// }
