

.menu-button {
    
    background-color: transparent;
    border: none;
    padding: 0;

     @media screen and (min-width: 768px) {
      display: none;
  }

 
}

.menu-button .icon-close {
    display: none;
  
}

.menu-button.is-open .icon-close { 
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}



.header a:visited {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $font-main-color;
}

.header li a:hover,
.header a:active,
.header a:focus {
  color: $font-second-color;
}

.header li a {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.menu-container {
  padding: 20px;
  text-align: center;
  font-size: 40px;
  background-color: #ffffff;

  @media screen and (max-width: 767px) {
      display: none;
      position: absolute;
        top: 100%;
            left: 2%;
    right: 2%;
        max-width: 480px;
            padding: 48px 40px;

        &.is-open {
      display: block;
  }

  @media screen and (min-width: 767px) {
      font-size: 14px;
  }
  }

  @media screen and (min-width: 768px)  {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;

  }

  @media screen and (min-width: 768px) {
        display: flex;
    flex-direction: row;
    background-color: transparent;
     font-size: 14px;
     padding: 0;
}

.nav-list-mobile {
  list-style: none;
}

.address-list-mobile {
  list-style: none;
}

.navigation-mobile {
      width: 80px;
    padding: 0;
    margin: 0;
    text-align: left;

    @media screen and (min-width: 768px) {
      display: inline-flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-left: 88px;
    
    }
}



.menu-icon {
      position: relative;
    z-index: 3;
    width: 21px;
    height: 21px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.nav-item:not(:last-child) {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
    
  }
}

.nav-item {
  padding: 0;
}


.header__social-divider {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    height: 22px;
    border-left: 2px solid rgba(33,33,33,0.2);
}

.address-list {
  flex-direction: column;
  text-align: left;

  @media screen and (min-width: 768px) {
  flex-direction: column-reverse;
  }
}

.contacts-mobile .contacts-font-first {
  font-weight: 500;
font-size: 34px;
line-height: 0.0025;
letter-spacing: 0.02em;
color: #757575;

@media screen and (min-width: 768px) {
   font-size: 12px; 
   
    
  }
}

.contacts-mobile .contacts-font-two {
  @media screen and (min-width: 768px) {
padding-bottom: 10px;
  }}


.contacts-mobile svg {
  @media screen and (max-width: 767px) {
    display: none;
    
  }
}

.contacts-mobile {
  margin-bottom: 64px;

  @media screen and (min-width: 768px) {
    margin-left: 84px;
    margin-bottom: 0;
    line-height: 14px;
  }
}}