.header .all-container {
  position: relative;
  
  align-items: center;
  justify-content: space-between;

  @media (max-width: 480px) {
    width: 480px;
    height: 60px;
    margin: 0;
  }
}

header {
  // position: fixed;
  width: 100%;
  
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 3;

  @media (min-width: 480px) {
    width: 480px;
  }
}
.header-area {
   
    display: inline-block;
    width: 100%;
   
    justify-content: space-between;
   
    align-items: center;
    border-bottom: 1px solid #ececec;
}


// .menu-button {
//   @media (max-width: 480px) {
//     display: inline-flex;
//     margin: 0;
//     padding: 0;
//     border: none;
//     background-color: transparent;
//   }
//   @media (max-width: 768px) {
//     display: none;
//   }
// }

// .menu-button .icon-close {
//   @media (max-width: 768px) {
//     display: none;
//   }
// }

// .menu-button.is-open .icon-close {
//   @media (max-width: 480px) {
//     display: block;
//   }
// }

// .menu-button.is-open .icon-menu {
//   @media (min-width: 480px) {
//     display: none;
//   }
// }

header .link {
  padding-top: 23px;
  min-height: 80px;
}

.header a:visited {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $font-main-color;
}

.header li a:hover,
.header a:active,
.header a:focus {
  color: $font-second-color;
}

.header li a {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.header__contacts_list {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    align-items: center;
    flex-direction: row;
  }
}


.header__menu {
  position: relative;
  z-index: 3;

  width: 21px;
  height: 21px;

  background-color: transparent;
  border: none;
  padding: 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
}


.header__contacts:not(:last-child) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .header__contacts + .header__contacts {
    margin-bottom: 32px;
  }
}

.header__contact-link {
  @extend %link;

  @media screen and (min-width: 768px) {
    @include centeredFlex();
  }
}

.header__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (max-width: 1199px) {
    margin-right: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
