.header .all-container {
  display: flex;
  align-items: center;

  @media (max-width: 480px) {
    width: 480px;
    margin: 0;
  }
}

header {
  position: fixed;
  width: 100%;
  min-height: 80px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 3;

  @media (max-width: 480px) {
    width: 480px;
  }
}

.menu-button {
  @media (max-width: 480px) {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  @media (max-width: 763px) {
    display: none;
  }
}

.menu-button .icon-close {
  @media (max-width: 480px) {
    display: none;
  }
}

.menu-button.is-open .icon-close {
  @media (max-width: 480px) {
    display: block;
  }
}

.menu-button.is-open .icon-menu {
  @media (max-width: 480px) {
    display: none;
  }
}

header .link {
  padding: 32px 0;
  min-height: 80px;
}

.header a:visited {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $font-main-color;
}

.header li a:hover,
.header a:active,
.header a:focus {
  color: $font-second-color;
}

.header li a {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
